<div class="container">
    <div class="card">
        @if (currentView === 'driven_osc1') {
            <h1>Getriebene Schwingungen (1/7)</h1>
            <!-- <p class="page-subheadline"></p> -->
        } @else if (currentView === 'driven_osc2') {
            <h1>Getriebene Schwingungen (2/7)</h1>
            <p class="page-subheadline">Grundlagen zur Lösung 1</p>
        } @else if (currentView === 'driven_osc3') {
            <h1>Getriebene Schwingungen (3/7)</h1>
            <p class="page-subheadline">Grundlagen zur Lösung 2</p>
        } @else if (currentView === 'driven_osc4') {
            <h1>Getriebene Schwingungen (4/7)</h1>
            <p class="page-subheadline">Woven ist die Amplitude abhängig?</p>
        } @else if (currentView === 'driven_osc5') {
            <h1>Getriebene Schwingungen (5/7)</h1>
            <p class="page-subheadline">Analyse der Formel</p>
        } @else if (currentView === 'driven_osc6') {
            <h1>Getriebene Schwingungen (6/7)</h1>
            <p class="page-subheadline">Wovon ist die Phasenverschiebung abhängig?</p>
        } @else {
            <h1>Getriebene Schwingungen (7/7)</h1>
            <p class="page-subheadline">Analyse der Formel</p>
        }


<!-- Content sections -->
        <div class="content">
            @if (currentView === 'driven_osc1') {
                <div class="text-image-container">
                    <div class="image-content">
                        <img src="assets/images/e3_driven_oscillations/Antrieb.jpg" alt="Antrieb">
                        <p class="image-description">
                            Antrieb über Schrittmotor (hier nicht sichtbar), der über die Stange die Position des Aufhängungspunkts der Feder periodisch variiert.
                        </p>
                    </div>
                    <div class="text-content">
                        <p [innerHTML]="drivenOscText1a"></p>
                    </div>
                </div>
                <div class="learning-lamp">
                    <div class="learning-lamp-text" [innerHTML]="drivenOscText1b"></div>
                </div>
                <div class="text-content">
                    <p [innerHTML]="drivenOscText1c"></p>
                </div>

                <div>
                    <app-single-choice
                        [questionId]="question1.questionId"
                        [question]="question1.question"
                        [options]="question1.options"
                        [correctAnswer]="question1.correctAnswer"
                        [containerId]="question1.containerId"
                        [successMessage]="question1.successMessage"
                        [incorrectMessage]="question1.incorrectMessage"
                        (onAnswerEvaluated)="onQuestion1Answered($event)">
                    </app-single-choice>
                </div>
            }
            
            @if (currentView === 'driven_osc2') {
                <div class="text-content">
                    <p [innerHTML]="drivenOscText2a"></p>
                </div>
                <details class="spoiler">
                    <summary class="spoiler-summary">EXKURS: Detaillierte Lösung der Differentialgleichung - nicht für den Versuch erforderlich</summary>
                    <div class="spoiler-content" [innerHTML]="drivenOscText2b"></div>
                </details>
                <div class="text-content">
                    <p [innerHTML]="drivenOscText2c"></p>
                </div>
                <div>
                    <app-multiple-choice
                        [questionId]="question2.questionId"
                        [question]="question2.question"
                        [options]="question2.options"
                        [correctAnswers]="question2.correctAnswers"
                        [containerId]="question2.containerId"
                        [successMessage]="question2.successMessage"
                        [incompleteMessage]="question2.incompleteMessage"
                        [incorrectMessage]="question2.incorrectMessage"
                        (onAnswerEvaluated)="onQuestion2Answered($event)">
                    </app-multiple-choice>
                </div>
            }

            @if (currentView === 'driven_osc3') {
                <div class="text-content">
                    <p [innerHTML]="drivenOscText3a"></p>
                </div>
                <div>
                    <app-image-choice
                        [questionId]="question3.questionId"
                        [question]="question3.question"
                        [options]="question3.options"
                        [correctAnswers]="question3.correctAnswers"
                        [containerId]="question3.containerId"
                        [successMessage]="question3.successMessage"
                        [incorrectMessage]="question3.incorrectMessage"
                        (onAnswerEvaluated)="onQuestion3Answered($event)">
                    </app-image-choice>
                </div>
            }

            @if (currentView === 'driven_osc4') {
                <div class="text-content">
                    <p [innerHTML]="drivenOscText4"></p>
                </div>
                <div>
                    <app-multiple-choice
                        [questionId]="question4.questionId"
                        [question]="question4.question"
                        [options]="question4.options"
                        [correctAnswers]="question4.correctAnswers"
                        [containerId]="question4.containerId"
                        [successMessage]="question4.successMessage"
                        [incompleteMessage]="question4.incompleteMessage"
                        [incorrectMessage]="question4.incorrectMessage"
                        (onAnswerEvaluated)="onQuestion4Answered($event)">
                    </app-multiple-choice>
                </div>
            }

            @if (currentView === 'driven_osc5') {
                <div class="text-content">
                    <p [innerHTML]="drivenOscText5a"></p>
                </div>
                <div class="text-image-container">
                    <div class="image-content">
                        <img src="assets/images/e3_driven_oscillations/Amplitude_Daempfung.png" alt="Amplitude für verschiedene Dämpungen">
                        <p class="image-description">
                            Normierte Amplitude für unterschiedliche Dämpfungen, in Abhängigkeit von der Anregungsfrequenz
                        </p>
                    </div>
                    <div class="text-content">
                        <p [innerHTML]="drivenOscText5b"></p>
                    </div>
                </div>
                <div>
                    <app-single-choice
                        [questionId]="question5.questionId"
                        [question]="question5.question"
                        [options]="question5.options"
                        [correctAnswer]="question5.correctAnswer"
                        [containerId]="question5.containerId"
                        [successMessage]="question5.successMessage"
                        [incorrectMessage]="question5.incorrectMessage"
                        (onAnswerEvaluated)="onQuestion5Answered($event)">
                    </app-single-choice>
                </div>
                <div>
                    <app-single-choice
                        [questionId]="question6.questionId"
                        [question]="question6.question"
                        [options]="question6.options"
                        [correctAnswer]="question6.correctAnswer"
                        [containerId]="question6.containerId"
                        [successMessage]="question6.successMessage"
                        [incorrectMessage]="question6.incorrectMessage"
                        (onAnswerEvaluated)="onQuestion6Answered($event)">
                    </app-single-choice>
                </div>
            }

            @if (currentView === 'driven_osc6') {
                <div class="text-content">
                    <p [innerHTML]="drivenOscText6"></p>
                </div>
            }

            @if (currentView === 'driven_osc7') {
                <div class="text-image-container">
                    <div class="text-content">
                        <p [innerHTML]="drivenOscText7"></p>
                    </div>
                    <div class="image-content">
                        <img src="assets/images/e3_driven_oscillations/Phasenverschub_Daempfung.png" alt="Phasenverschub für verschiedene Dämpungen">
                    </div>
                </div> 
                <div>
                    <app-single-choice
                        [questionId]="question7.questionId"
                        [question]="question7.question"
                        [options]="question7.options"
                        [correctAnswer]="question7.correctAnswer"
                        [containerId]="question7.containerId"
                        [successMessage]="question7.successMessage"
                        [incorrectMessage]="question7.incorrectMessage"
                        (onAnswerEvaluated)="onQuestion7Answered($event)">
                    </app-single-choice>
                </div>
                <div>
                    <app-single-choice
                        [questionId]="question8.questionId"
                        [question]="question8.question"
                        [options]="question8.options"
                        [correctAnswer]="question8.correctAnswer"
                        [containerId]="question8.containerId"
                        [successMessage]="question8.successMessage"
                        [incorrectMessage]="question8.incorrectMessage"
                        (onAnswerEvaluated)="onQuestion8Answered($event)">
                    </app-single-choice>
                </div>
            }

        </div>

        <!-- navigation buttons -->
        <div class="button-container">
            @if (isFirstPage) {
                @if (devMode.isEnabled) {
                    <button routerLink="/decision/e-driven-oscillations" class="btn btn-back">← Zurück zur Entscheidungsseite</button>
                }
            } @else {
                <button class="btn btn-back" (click)="goBack()">← Zurück</button>
            }

            @if (isLastPage) {
                <button class="btn" (click)="goForward()">
                    {{ navigationFlow === 'learning-first' ? 'Weiter →' : 'Weiter zur Anleitung →' }}
                </button>
            } @else {
                <button class="btn" (click)="goForward()">Weiter →</button>
            }
        </div>
    </div>
</div>