<div class="container">
    <div class="card">
        <h1>
            @if (currentView === 'driven_osc1') { <span>Getriebene Schwingungen (1/7)</span> }
            @else if (currentView === 'driven_osc2') { <span>Getriebene Schwingungen (2/7)</span> }
            @else if (currentView === 'driven_osc3') { <span>Getriebene Schwingungen (3/7)</span> }
            @else if (currentView === 'driven_osc4') { <span>Getriebene Schwingungen (4/7)</span> }
            @else if (currentView === 'driven_osc5') { <span>Getriebene Schwingungen (5/7)</span> }
            @else if (currentView === 'driven_osc6') { <span>Getriebene Schwingungen (6/7)</span> }
            @else { <span>Getriebene Schwingungen (7/7)</span> }
        </h1>


<!-- Content sections -->
        <div class="content">
            @if (currentView === 'driven_osc1') {
                <div>
                    <app-single-choice
                        [questionId]="question1.questionId"
                        [question]="question1.question"
                        [options]="question1.options"
                        [correctAnswer]="question1.correctAnswer"
                        [containerId]="question1.containerId"
                        [successMessage]="question1.successMessage"
                        [incorrectMessage]="question1.incorrectMessage"
                        (onAnswerEvaluated)="onQuestion1Answered($event)">
                    </app-single-choice>
                </div>
            }
            
            @if (currentView === 'driven_osc2') {

            }

            @if (currentView === 'driven_osc3') {

            }

            @if (currentView === 'driven_osc4') {

            }

            @if (currentView === 'driven_osc5') {

            }

            @if (currentView === 'driven_osc6') {

            }

            @if (currentView === 'driven_osc7') {

            }

        </div>

        <!-- navigation buttons -->
        <div class="button-container">
            @if (isFirstPage) {
                <button routerLink="/decision/e-damped-oscillations" class="btn">← Zurück zur Entscheidungsseite</button>
            } @else {
                <button class="btn" (click)="goBack()">← Zurück</button>
            }

            @if (isLastPage) {
                <button class="btn" (click)="goForward()">
                    {{ navigationFlow === 'learning-first' ? 'Weiter mit der Simulation →' : 'Weiter zu getriebenen Schwingungen →' }}
                </button>
            } @else {
                <button class="btn" (click)="goForward()">Weiter →</button>
            }
        </div>
    </div>
</div>